*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Open Sans', sans-serif; */
}

.crucial-container{
    width: 100%px;
    height:100vh;
    margin: 0px auto;
}

header{
    width:100%;
    height:585px; 
    background: rgb(188, 206, 251);
 }

 .navbar{
    width: 100%;
    height: 60px;
    line-height: 50px;
    background-color: white;
}

ul{
    list-style: none;
}

.clearfix::after{
    content:"";
    display:table;
    clear:both;
}

.fl{
    float:left;
}

.fr,.common-questions span{
    float: right;
}

.navbar .logo{
    margin-top: 5px;
}
nav.navbar .logo li, .menu li, .menu-button li{
    display: inline-block;
    margin-left: 20px;
}
.button-header-first{
    width:65px;
    height: 28px;
    background-color:blue;
    color:white;
    margin-right: 20px;
}
.container-header{
    margin: 30px 120px 0  120px;
    height: 500px;
}

.button-header-second{
    width:230px;
    height:40px;
    background: blue;
    color:white;
}

 header h1{
    font-size:54px;
}

.container-tutto{
    margin-top: 30px;

}
.text-first{
    width:28%;
    height: 300px;
    line-height: 1.3;
}

.container-tutto .freccia-verso-basso{
    font-size: 40px;
}
.img1{
    width: calc(72% - 50px);
    margin-left: 50px;
}

.container-offer{
    width:1000px;
    margin: 0px auto;
    margin-top: 100px;
}
#input-radio{
    width:100%;
    height: 30px;
    margin: 20px 0 30px 0;
}
.container-offer #input-fatturazione{
    margin-left: 20px;
}

/* .container3-1{
    width:100%;
} */

[class^="offer-"]{
    width: calc(33.3% - 35px);
    height:850px;
    margin-right:35px;
    border: 2px lightgray solid;
}

.singolo{
    height:40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px lightgray solid;
}

.center{
    padding: 15px;
}

.container3-1 hr{
    width:20%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.utente li{
   margin-top: 20px;  
}

.list-table li{
    margin-top: 20px;
}

.list-table li::before{
    content:"\2713";
    color:blue;
    float: left;
    margin-right: 5px;
}

.button-offer{
    width: 250px;
    height:50px;
    background: blue;
    color: white;
    margin-top: 30px;
}

.container-enterprise{
    width:100%;
    height:200px;
    border: 1px lightgray solid;
    margin-top: 30px;
}

.team-enterprise{
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px lightgrey solid ;
}

.enterprise-text{
    width:70%;
    padding: 20px 0 0 25px;
}

.enterprise-text p{
    font-size: 15px;
}

.enbutton{
    width:20%;
    height: 35px;
    position: relative;
    left:60px;
    top:20px;
    background-color:  blue;
    color: white;

}

.con-image2{
    width:100%;
    height:550px;
    margin-top: 100px;
    /* border: 2px yellow solid; */
}
.im-partners{
    width: 56%;
    margin-right: 50px;
}

/* Da rivedere margin-top*/
.text-partners{
    width:calc(44% - 100px);
    margin-top: 70px;
    margin-left: 30px;
    height:200px;
}

.partner-button{
    width: 140px;
    height: 35px;
    border: 1px lightgray solid;
    background-color: white;
}
.dropbox-business{
    width:100%;
    height:900px;
    margin-top: 30px;
}

.dropbox-business h1{
    margin-bottom: 40px;
    font-size: 45px;
}

.part-images{
    width: calc((100% / 3) - 30px);
    margin: 15x;
    padding:15px;
    min-height: 400px;
}

[class^="img-"] img {
    width:100%;
    
}

.explore-more{
    width: 45%;
    margin-top: 70px;
}

.explore-more h1{
    font-size: 36px;
}

.logos-university{
    width: 100%;
    height: 500px;
    margin-top: 130px;
    
}

[class^="box-"]{
    width: calc(100% / 3);
    border: 3px purple solid;
    height:500px;
}

[class^="logo-"]{
    width: 50%;
    height: 250px;
    line-height: 290px;
    border: 3px purple solid;
    text-align: center;
    /* filter:invert(); */
}

.logo-designit{
    background-color: #a2d39b;
   
}

.logo-asu{
    background-color: rgb(125, 32, 28);
    
   
}

.logo-uniflorida{
    background-color: rgb(91, 157, 215);
}

.logo-topps{
    background-color:rgb(253, 45, 38);
}
.box-channel{
    background-color: #d3d3d3;
    padding:70px;
}

.box-channel hr{
    width: 18%;
    margin-bottom: 50px;
}
.logo-bicycle{
    background-color: rgb(225, 32, 25);
}
.logo-hearst{
    background-color: rgb(194, 211, 255);
}

.logo-planet{
    background-color: rgb(8, 37, 145);
}

.logo-channel{
    background-color:yellow;
}

[class^="logo-"]img{
    fill:white;
}
.porta-dropbox{
    width: 100%;
    height: 300px;
    background-color:rgb(188, 206, 251);
    color: rgb(125, 32, 28);
    font-size: 30px;
}

.business{
    width: 40%;
    height:150px;
    position: relative;
    top: 70px;
    left: 250px;
 }

.dropbutton{
    position: relative;
    bottom:70px;
    left:67%;
    width:200px;
    height:40px;
    background-color: white;
    border: white;
}

.common-questions{
    width: 820px;
    height: 600px;
    position: relative;
    left:270px;
    padding-top: 100px;
    line-height: 70px;
}

.common-questions h1{
    margin-bottom: 20px;
    font-size: 32px;
}

.common-questions  hr{
    background-color: lightgray;
}

.common-questions span{
   margin-right: 30px;
   font-size: 25px;
}

footer{
    width: 100%;
    height: 600px;
    background-color: black;
    color:white;
}

 .last-section{
     width: 1000px;
     height:400px;
     position: relative;
     left: 250px;
     top: 100px;
     border: 4px yellow solid;
 }

 .last-section ul{
     display: inline-block;
     margin-right: 55px;
 }

 .service{
    margin-bottom: 20px;
}

/* ul #service-special{
    margin-top: 25px;
} */

 footer .list-service{
  margin-bottom: 20px;
 }

footer hr{
    margin-top: 70px;
    margin-bottom: 40px;
    width: 100px;
}

#option-language{
    color:grey;
    font-size:20px;
}

